.image-with-text {
    display:inline-block;   
    position:relative
}

.image-with-text .text-on-image {
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
     
    color:#fff;
         
    padding:10px;
    background-color:rgba(0,0,0,.3);
}